.container-hamburguer {
  color: white;
  padding: 0 1rem 0.2rem 1.5rem;
}

.hambur {
  border-width: 1px;
  border-radius: 9999px;
  &:hover{
    border: 3em solid #b9bec5;
    border-width: 2px;
    border-radius: 9999px;
    padding: .2em .5em .3em .5em;
  }
  &:active {
    border: 2em solid #b9bec5;
    border-width: 2px;
    border-radius: 9999px;
    padding: .2em .5em .3em .5em;
  }
}

.container-subMenu, .container-subMenuH {
  position: absolute;
  // left: 44%;
  margin-top: 1.5rem;
  width: 20rem;
  right: .125rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  visibility: visible;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: rgb(243 244 246);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
  }

  div {
    margin: 0 0 ;
    text-align: center;
    padding: .5rem 0;
    border-bottom: 2px solid rgba(102, 107, 118, 0.25);

    padding: 1rem 0 1.5rem 0;

    &:hover {
      background-color: #b9bec5;
    }
  }

  .a_item_menu {
    text-align: center;
    color: rgb(102, 107, 118);
    font-family: "Acme";


    &:hover {
      font-weight: 600;
      font-size: 1.75rem;
    }
    &:focus {
      font-weight: 600;
    }
    &:active {
      font-weight: 600;
    }
  }


  div:last-child {
    border-bottom: none;
  }

}

.container-subMenuH {
  left:0;
}

.container-subMenuHamburguer {
  position: absolute;
  margin-top: 2rem;
  width: 50%;
  right: .125rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  visibility: visible;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    // color: rgb(243 244 246);

    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
  }

  div {
    margin: 0.25rem 0;
    border-bottom: 2px solid rgba(102, 107, 118, 0.25);
    text-align: center;
  }

  li {
    padding: 1rem 0 1.5rem 0;
    color:rgb(102 107 118);
    &:hover {
      background-color: #b9bec5;
      font-size: 1.75rem;
    }
  }


  .a_item_menu {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(102, 107, 118);
    font-family: "Delicious Handrawn";

    &:hover {
      font-weight: 600;
      font-size: 1.75rem;
    }
    &:focus {
      font-weight: 600;
    }
    &:active {
      font-weight: 600;
    }
  }


  div:last-child {
    border-bottom: none;
  }

}

  .container-subMenuHidden {
    display: none;
}
