$height-header: 5.5rem;

main {
  margin-top: 6rem;
  grid-row: 2;
  // @media screen and (min-width: 1025px) and (max-width: 1440px) {
  //   margin-top: -4rem;
  // }

  // @media screen and (min-width: 800px) and (max-width: 1024px) {
  //   margin-top: 1rem;
  // }

  // @media screen and (min-width: 600px) and (max-width: 799px) {
  //   margin-top: 1rem;
  // }

  // @media screen and (min-width: 430px) and (max-width: 599px) {
  //   margin-top: -79rem;
  // }
  // @media only screen and (max-width: 429px) {
  //   margin-top: 5rem;
  // }
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-title div, .container-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-inButton {
  padding-left: 0.15rem;
  font-size: 1.15rem;
  @media only screen and (max-width: 599px) {
      font-size: .95rem;
  }
}
