.container-titleProduct {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;

  h1 {
    color: #1e76a5;
    margin-bottom: 1.5rem;
  }

  .button {
    margin-bottom: 1.5rem;
  }
}

.container-searchProduct {
  display: flex;
  span {
    margin-top: .5rem;
    margin-left: 1rem;
  }
  input {
    margin-right: 1rem;
  }
}

.container-table {
  overflow-x: scroll;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: left;
  margin-bottom: 4rem;

  thead {
    text-transform: uppercase;
    background-color: rgb(3 105 161);
    color: white;
  }

  th, td {
    padding: 0.75rem .5rem;
  }

  a {
    color: black;
    margin-left: auto;
    margin-right: auto;
  }

  .erase {
    text-align: center;
  }

  a:hover {
    cursor: pointer;
    font-weight: 700;
  }

  .erase:hover {
    font-size: 1.125rem;
    line-height: 1.75rem;
    background-color: rgb(254 202 202)
  }

  tr:nth-child(even) {
    background-color: rgb(243 244 246);
  }
}
