@tailwind base;
@tailwind components;
@tailwind utilities;
/*
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 4em 1fr 4em;
}

header {
    position: fixed;
    background: linear-gradient(to right, #012959, #0249a1, #1e76a5, #0249a1, #012959);
    box-shadow: 0 2px 2px 1px rgba(9, 3, 68, 0.7);
    width: 100%;
    height: 5rem;
} */

/* main {
    padding-top: 5rem;
} */

/* footer {
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: rgb(229 231 235);
    text-align: center;
    padding: 3.5rem 2vw;
    justify-content: space-between;
    box-shadow:5px -5px 5px 0px rgba(128, 128, 128, 0.7);
} */
/*
div {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

h1 {
    font-size: 4.5rem;
    font-family: "Lilita one", "Georgia", "sans-serif";
    background: linear-gradient(to right, #012959, #0249a1, #1e76a5, #0249a1, #012959);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 4.25rem;
    font-family: "Lilita one", "Georgia", "sans-serif";
    background: linear-gradient(to right, #012959, #0249a1, #1e76a5, #0249a1, #012959);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 4.15rem;
    font-family: "Lilita one", "Georgia", "sans-serif";
    margin: 0;
    padding: 0;
    color: #1e76a5;
}

h4 {
    font-size: 3.15rem;
    font-family: "Lilita one", "Georgia", "sans-serif";
    margin: 0;
    padding: 0;
    color: #1e76a5;
}

h5 {
    font-size: 2rem;
    font-family: "Georgia", "sans-serif";
    margin: 0;
    padding: 0;
}

p {
    font-size: 2rem;
    font-family: "Acme", 'Courier New', Courier, monospace;
    color: #fff;
}

li {
    font-family: "Delicious Handrawn", 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 1.3rem;
    padding: 0 2.5vw;
}

a {
    color: fff;
}

img {
    margin: 0;
    padding: 0;
}

.button {
    align-items: center;
    background: linear-gradient(to right, #012959, #0249a1, #1e76a5, #0249a1, #012959);
    background-size: cover;
    font-family: "Delicious Handrawn";
    align-items: center;
    color: rgb(255 255 255);
    font-size: 1.3rem;
    padding: 0.5em 1em;
    border-radius: 624rem;
}

.container-button {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.container-header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
}

.container-logoEdit {
    display: flex;
    grid-column: 1;
    grid-row: 1 / span 2;
    align-items: center;
    padding: 0 0.5em;
}

.container-logo {
    display: flex;
}

.container-mainMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: -2em;

}

.mainMenu {
    display: flex;
}

.container-socialNetwork {
    grid-column: 3;
    grid-row: 1;
}


.hamburguerMenu {
    margin: auto;
		display: block;
}

.container-socialNetwork_color {
    display: flex;
    column-gap: 0.7em;
    justify-content: flex-end;
    margin: 1em 0.5vw 0 0;
    padding: 0 0.5em;
}

.container-socialNetwork_gray {
    display: flex;
    column-gap: 0.7em;
    justify-content: center;
}

.socialNetworkIcons {
    height: 1.5rem;
    width: 1.5rem;
}

.brand {
    font-size: 2.3rem;
    font-family: "Inspiration" , Arial, Helvetica, sans-serif;
} */

/* .container-title {
    display: flex;
    align-items: center;
    justify-content: center;
} */
/*
.icons {
    width: 1.65rem;
    height: 1.65rem;
    font-size: 1.4rem;
    color: #71767d;
    border: 2em solid #b9bec5;
    border-width: 0.1em;
    border-radius: 7em;
} */
/*
.container-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-infoBoxTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
		margin-top: -10rem;
}

.container-Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
}

.container-Box1 {
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75em;
		padding-bottom: .75em;
    border-radius: 0.5rem;
    box-shadow:2px 2px 5px 0px rgba(128, 128, 128, 0.7);
}

.container-Box2 {
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75em;
		padding-bottom: .75em;
    border-radius: 0.5rem;
    box-shadow:2px 2px 5px 0px rgba(128, 128, 128, 0.7);
}

.container-Box3 {
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75em;
		padding-bottom: .75em;
    border-radius: 0.5rem;
    box-shadow:2px 2px 5px 0px rgba(128, 128, 128, 0.7);
}

.container-Box1 img {
    width: 50%;
    height: 50%;
}

.container-Box2 img {
    width: 50%;
    height: 50%;
}

.container-Box3 img {
    width: 50%;
    height: 50%;
} */
/*------------------------------------IMAGENES-----------------------------*/
/* .container-images {
    display: flex;
	width: 100%;
}

.container-imageVertical {
    display: flex;
	width: 66.66%;
}

.container-imageVertical1, .container-imageVertical2  {
    display: flex;
    flex-direction: column;
    height: 70rem;
    width: 50%;
    padding: 0 1em;
}


.container-imageHorizontal {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: 70rem;
    padding: 0 1em;
}

.container-imageHorizontal1 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-imageHorizontal2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-imageHorizontal1 img {
	height: 77%;
}

.container-imageHorizontal2 img {
	height: 71%;
	margin-top: -5em;
}

.container-imageVertical img {
	height: 55rem;
}

.container-imageVertical1 h4 {
    margin: -54rem auto 54rem auto;
    border-top-right-radius: 624rem;
    border-bottom-right-radius: 624rem;
    min-width: 80%;
    max-width: 100%;
    padding: 10px;
    background-color: rgba(107, 114, 128, 0.5);
    color:rgb(255 255 255);
    text-align: center;
    font-family:"Lilita one", "Georgia", "sans-serif";
}

.container-imageVertical2 h4 {
    margin: -12rem auto 12rem auto;
    border-top-left-radius: 624rem;
    border-bottom-left-radius: 624rem;
    min-width: 80%;
    max-width: 100%;
    padding: 10px;
    background-color: rgba(107, 114, 128, 0.5);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Lilita one", "Georgia", "sans-serif";
}


.container-imageHorizontal1 h4 {
    margin: -15rem auto 15rem auto;
    border-radius: 624rem;
    border-radius: 624rem;
    min-width: 80%;
    max-width: 100%;
    padding: 10px;
    background-color: rgba(107, 114, 128, 0.5);
    color:rgb(255 255 255);
    text-align: center;
    font-family:"Lilita one", "Georgia", "sans-serif";
}

.container-imageHorizontal2 h4 {
    margin: -15rem auto 15rem auto;
    border-radius: 624rem;
    border-radius: 624rem;
		color: white;
    min-width: 80%;
    max-width: 100%;
    padding: 10px;
    background-color: rgba(107, 114, 128, 0.5);
    color:rgb(255 255 255);
    text-align: center;
    font-family:"Lilita one", "Georgia", "sans-serif";
    overflow: visible;
}

.container-imageVertical1 button {
    margin-top: -6rem;
}

.container-imageVertical2 button {
    margin-top: -10rem;
}

.container-imageHorizontal button {
    margin-top: -6rem;
}
 */

/*---------------------------------------FIN IMAGENES-----------------------*/

/* .container-title div, .container-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
/*
.container-footerInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;

}

.footer-info {
    display:flex;
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.footer-info div{
    justify-content: center;
} */

/* .container-logo img {
    height: 3.5rem;
    width: 3.5rem;
} */

/* -----------------------------------contenedores imagenes 2XL------------------------------------------ */
@media only screen and (min-width: 1441px) {
	.hamburguerMenu {
		display: none;
	}

}

/* -----------------------------------contenedores imagenes XL------------------------------------------ */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	/* .hamburguerMenu {
		display: none;
	}

	h1 {
		font-size: 3.3rem;
	}
	h2 {
		font-size: 3.25rem;
	}
	h3 {
		font-size: 2.75rem;
	}
	h4 {
		font-size: 1.75rem;
	}
	h5 {
		font-size: 1.5rem;
	}
	h6 {
		font-size: 0.75rem;
	}
	p {
		font-size: 1.3rem;
	} */

	/* .container-imageVertical {
		height: 40rem;
	}


	.container-imageHorizontal {
		height: 49rem;
	} */

	/* .container-imageVertical img {
		height: 37rem;
	} */

	/* .container-imageVertical1 h4 {
		margin: -34rem auto 34rem auto;
	}
	.container-imageVertical2 h4 {
		margin: -8rem auto 8rem auto;
	} */
	/* .container-imageHorizontal1 h4 {
		margin: -12rem auto 12rem auto;
	} */
	/* .container-imageHorizontal2 h4 {
		margin: -12rem auto 12rem auto;
	} */
	/* .container-imageVertical2 button {
    margin-top: -8rem;
	} */
}

/* -----------------------------------contenedores imagenes LG------------------------------------------ */
@media only screen and (min-width: 800px) and (max-width: 1024px) {
	/* .hamburguerMenu {
		display: none;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2.25rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.35rem;
	}
	h5 {
		font-size: 1.25rem;
	}
	h6 {
		font-size: 1rem;
	}
	p {
		font-size: 1.15rem;
	} */

	/* .container-images {
    display: flex;
		flex-direction: column;
		margin: 0 0 0 0;
	} */

	/* .container-imageVertical {
		height: 45rem;
		width: 100%;
		margin: 0 0 0 0;
	}

	.container-imageHorizontal {
		height: 85rem;
		width: 100%;
		margin: 0 0 0 0;
	} */

	/* .container-infoBoxTitle {
		margin-top: -8rem;
	} */
	/* .container-imageHorizontal img{
			height: 35rem;
	} */

	/* .container-imageVertical img{
		height: 43rem;
	} */


	/* .container-imageVertical1 h4 {
		margin: -42rem auto 42rem auto;
		font-size: 2rem;
	} */
	/* .container-imageVertical2 h4 {
		margin: -8rem auto 8rem auto;
		font-size: 2rem;
	} */
	/* .container-imageHorizontal1 h4 {
		margin: -20rem auto 20rem auto;
		font-size: 2rem;
	} */
	/* .container-imageHorizontal2 h4 {
		margin: -20rem auto 20rem auto;
		font-size: 2rem;
	} */
	/* .container-imageVertical2 button {
    margin-top: -7rem;
	} */

}

/* -----------------------------------contenedores imagenes MD------------------------------------------ */

@media only screen and (min-width: 600px) and (max-width: 799px) {
	/* .hamburguerMenu {
		display: block;
	}

	.mainMenu {
		display: none;
	}

	.container-socialNetwork_color {
			display: none;
	}



	h1 {
		font-size: 1.85rem;
	}
	h2 {
		font-size: 1.65rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.35rem;
	}
	h5 {
		font-size: 0.85rem;
	}
	h6 {
		font-size: 0.75rem;
	}
	p {
		font-size: 0.9rem;
	}*/
/*
	.container-images {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 0;
	} */

	/* .container-infoBoxTitle {
		margin-top: 0;
	} */

	/* .container-imageVertical {
		display: flex;
		flex-direction: column;
		height: 125rem;
		width: 100%;
		margin: 0 0 0 0;
	} */

	/* .container-imageVertical1 {
		width: 100%;
	} */

	/* .container-imageVertical2 {
		width: 100%;
	} */
/*
	.container-imageHorizontal {
		height: 70rem;
		width: 100%;
		margin: 0 0 0 0;
	} */

	/* .container-infoBoxTitle {
		margin-top: -8rem;
	} */

	/* .container-imageHorizontal img{
			height: 28rem;
			width: 100%;
	} */

	/* .container-imageVertical img{
		height: 58rem;
		width: 100%;
	} */


	/* .container-imageVertical1 h4 {
		margin: -57rem auto 57rem auto;
		font-size: 2rem;
	} */
	/* .container-imageVertical2 h4 {
		margin: -7rem auto 7rem auto;
		font-size: 2rem;
	} */
	/* .container-imageHorizontal1 h4 {
		margin: -17rem auto 17rem auto;
		font-size: 2rem;
	} */
	/* .container-imageHorizontal2 h4 {
		margin: -17rem auto 17rem auto;
		font-size: 2rem;
	} */
	/* .container-imageVertical2 button {
		margin-top: -7rem;
	} */

	/* .container-logoEdit {
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	} */

	/* .container-mainMenu {
		display: flex;
    grid-column: 3;
    grid-row: 1 / span 2;
    align-items: center;
    padding: 0 0.5em;
	} */
}

/* -----------------------------------contenedores imagenes SM------------------------------------------ */
@media only screen and (min-width: 430px) and (max-width: 599px) {
	/* .hamburguerMenu {
		display: block;
	}

	.mainMenu {
		display: none;
	}

	.container-socialNetwork_color {
			display: none;
	}

	h1 {
		font-size: 1.35rem;
	}
	h2 {
		font-size: 1.25rem;
	}
	h3 {
		font-size: 1rem;
	}
	h4 {
		font-size: 1rem;
	}
	h5 {
		font-size: 0.85rem;
	}
	h6 {
		font-size: 0.75rem;
	}
	p {
		font-size: 0.9rem;
	} */

	/* .button {
		font-size: .95rem;
	} */

	/* .container-images {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 0;
	} */
/*
	.material-icons-outlined {
		font-size: .95rem;
	} */

	/* .container-infoBoxTitle {
		margin-top: 0;
	} */

	/* .container-imageVertical {
		display: flex;
		flex-direction: column;
		height: 95rem;
		width: 100%;
		margin: 0 0 0 0;
	} */

	/* .container-imageVertical1 {
		width: 100%;
	} */

	/* .container-imageVertical2 {
		width: 100%;
	} */

	/* .container-imageHorizontal {
		height: 49rem;
		width: 100%;
		margin: 0 0 0 0;
	} */

	/* .container-infoBoxTitle {
		margin-top: -8rem;
	} */

	/* .container-imageHorizontal img{
			height: 18rem;
			width: 100%;
			padding: 0 0;
	} */
/*
	.container-imageVertical img{
		height: 45rem;
		width: 100%;
	} */


	/* .container-imageVertical1 h4 {
		margin: -44rem auto 44rem auto;
		font-size: 1.25rem;
	} */
	/* .container-imageVertical2 h4 {
		margin: -5rem auto 5rem auto;
		font-size: 1.25rem;
	} */
	/* .container-imageHorizontal1 h4 {
		margin: -10rem auto 10rem auto;
		font-size: 1.25rem;
	} */
	/* .container-imageHorizontal2 h4 {
		margin: -10rem auto 10rem auto;
		font-size: 1.25rem;
	} */
	/* .container-imageVertical2 button {
		margin-top: -5rem;
	} */

	/* .container-logoEdit {
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	} */

	/* .container-mainMenu {
		display: flex;
    grid-column: 3;
    grid-row: 1 / span 2;
    align-items: center;
    padding: 0 0.5em;
	} */
}

/*-------------------------------------contenedores imagenes PQ----------------------------*/
@media only screen and (max-width: 429px) {
	/* .hamburguerMenu {
		display: block;
	}

	.mainMenu {
		display: none;
	}

	.container-socialNetwork_color {
			display: none;
	}



	h1 {
		font-size: 1.35rem;
	}
	h2 {
		font-size: 1.25rem;
	}
	h3 {
		font-size: 1rem;
	}
	h4 {
		font-size: 1rem;
	}
	h5 {
		font-size: 0.85rem;
	}
	h6 {
		font-size: 0.75rem;
	}
	p {
		font-size: 0.9rem;
	}

	.button {
		font-size: .95rem;
	}

	.container-images {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 0;
	} */

	/* .material-icons-outlined {
		font-size: .95rem;
	} */

	/* .container-infoBoxTitle {
		margin-top: 0;
	} */

	/* .container-imageVertical {
		display: flex;
		flex-direction: column;
		height: 72rem;
		width: 100%;
		margin: 0 0 0 0;
	} */

	/* .container-imageVertical1 {
		width: 100%;
	} */

	/* .container-imageVertical2 {
		width: 100%;
		margin-top: -1rem;
	} */

	/* .container-imageHorizontal {
		height: 38rem;
		width: 100%;
		margin: -3rem 0 0 0;
	} */

	/* .container-infoBoxTitle {
		margin-top: -8rem;
	} */

	/* .container-imageHorizontal img{
			height: 12rem;
			width: 100%;
			padding: 0 0;
	} */

	/* .container-imageVertical img{
		height: 32.5rem;
		width: 100%;
	} */


	/* .container-imageVertical1 h4 {
		margin: -32rem auto 32rem auto;
		font-size: 1.25rem;
	} */
	/* .container-imageVertical2 h4 {
		margin: -7rem auto 7rem auto;
		font-size: 1.25rem;
	} */
	/* .container-imageHorizontal1 h4 {
		margin: -7rem auto 7rem auto;
		font-size: 1.25rem;
	} */
	/* .container-imageHorizontal2 h4 {
		margin: -7rem auto 7rem auto;
		font-size: 1.25rem;
	} */
	/* .container-imageVertical2 button {
		margin-top: -5rem;
	} */

	/* .container-logoEdit {
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	} */

	/* .container-mainMenu {
	display: flex;
    grid-column: 3;
    grid-row: 1 / span 2;
    align-items: center;
    padding: 0 0.5em;
	} */
}

/*****---------------------------Fin---------------------------*/
/*
.container-slogan {
  background: linear-gradient(to right, #012959, #0249a1, #1e76a5, #0249a1, #012959);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-titleBoxes {
    margin-left: auto;
    margin-right: auto;
    height: 3.5;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    padding: 0 0 2rem 0;
}

.container-titleBoxes h2 {
    font-weight: 700;
    font-family: "Sansita";
    margin-bottom: 2rem;
    background: linear-gradient(to right, #012959, #0249a1, #1e76a5, #0249a1, #012959);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-titleBoxes  h3{
    font-size: 2.5rem;
    font-family: "Shadows Into Light";
    margin-bottom: 2rem;
    background: linear-gradient(to right, #012959, #0249a1, #1e76a5, #0249a1, #012959);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-boxes {
    width: full;
    display: flex;
    padding-bottom: .25em;
    text-align: center;
}

.container-box {
    width: 33.3333333333%;
    margin: 0.75em;
    border-radius: 0.5rem;
    box-shadow:2px 2px 5px 0px rgba(128, 128, 128, 0.7);
    text-align: center;
}

.container-box img{
    width: 50%;
    margin: 0.25em auto 0.25em auto;
}

.container-box p{
    margin: 0 2em 2em 2em;
    color: rgb(107, 114, 128);
    font-size: 1.5rem;
    line-height: 1.75em;
    font-family: "Dosis", "sans-serif";
}

.container-createProduct {
    width: 100%;
    padding-top: 6.5em;
    margin: 0 auto 2em auto;
    text-align: center;
}

.container-createProduct h1 {
    font-size: 3rem;
}

.container-createProduct h2 {
    font-size: 2rem;
}

.container-formProduct {
    width: 50%;
    margin: 0.75em auto;
    border-radius: 2.5em;
    box-shadow:2px 2px 5px 0px rgba(128, 128, 128, 0.7);

    background-color: #1a75e3;
    color: #FFF;
    font-family: "Delicious Handrawn";
    font-size: 1.3rem;
}

.container-formProduct div{
    width: 100%;
    padding: 1em 1em;

}
.container-formProduct label{
    width: 100%;
    padding: 1em 1em;
}
.container-formProduct input{
    width: 80%;
    padding: 0.5em 0.5m;
    border-width: 0.1em;
    color: red;
}

.container-formProduct textarea{
    width: 80%;
    padding: 0.5em 0.5em;
    border-width: 0.1em;
    color: red;
} */

/* -----------------------------------contenedores imagenes 2XL------------------------------------------ */
@media only screen and (min-width: 1441px) {
    /* .container-mdTO2xl {
        display: block;
        width: 100%;
    }
    .container-body-mdOrUpper {
        display: block;
        display: flex;
        width: 100%;
    }

    .container-body-mdOrLower  {
        display: none;
    }

    .container-hamburguerMenu {
        display: none;
    }

    .container-header {
        position: fixed;
        width: 100%;
        height: 6rem;
        box-shadow:5px 5px 5px 0px rgba(128, 128, 128, 0.7);
        align-items: center;
    }

    .container-socialNetwork {
        width: 100%;
        display: flex;
        gap: 1rem;
        padding-right: 1rem;
        color: rgb(255 255 255);
        justify-content: flex-end;
    }

    .container-socialNetwork img {
        height: 1.65rem;
    }

    .container-mainMenu {
        align-items: center;
        justify-content: center;
        padding-right: 20rem;
        display: flex;
        gap: 8rem;
        color: rgb(255 255 255);
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .container-main {
        padding-top: 7rem;
    }

    .container-verticalImage {
        margin: 10PX 10px 10px 0;
        width: 30%;
    }

    .container-horizontal-Total {
        width: 40%;
    }

    .container-horizontalImage {
        margin: 10px 0 10px 0;
        height: 400px;
        width: 100%;
    }

    .container-phraseVertical1 {
        margin: auto;

        align-items: center;
        border-top-right-radius: 624rem;
        border-bottom-right-radius: 624rem;
        font-size: 3rem;
        line-height: 1;
        margin-top: -760px;
        width: 80%;
        padding: 10px;
        background-color: rgb(107, 114, 128, 0.5);
        color:rgb(255 255 255);
        text-align: center;
    }

    .container-phraseVertical2 {
        margin: auto;
        align-items: center;
        border-top-left-radius: 624rem;
        border-bottom-left-radius: 624rem;
        font-size: 3rem;
        line-height: 1;
        margin-top: -125px;
        width: 80%;
        padding: 10px;
        color:rgb(255 255 255);
        background-color: rgb(107, 114, 128, 0.5);
        text-align: center;
    }

    .container-phraseHorizontal {
        margin: auto;
        align-items: center;
        border-radius: 624rem;
        font-size: 3rem;
        line-height: 1;
        margin-top: -220px;
        width: 80%;
        padding: 10px;
        color:rgb(255 255 255);
        background-color: rgb(107, 114, 128, 0.5);
        text-align: center;
    }

    .container-phraseLogo {
        margin-left: 0.5rem;
        padding-top: 0.5rem;
        width: 70%;
        align-items: center;
        color: rgb(255 255 255);
        font-size: 3rem;
        line-height: 1;
    }

    .container-slogan {
        height: 3.5;
        font-size: 3rem;
        line-height: 1;
        text-align: center;
        padding: 0 0 2rem 0;
    }

    .logo-image {
        height: 5rem;
        width:30%;
        margin-left: 0.5rem;
    }

    .horizontal-image {
        width: 100%;
        height: 360px;
    }

    .vertical-image {
        width: 100%;
        height: 770px;
    }

    .bg-gradient-buttom {
        align-items: center;
        color: rgb(255 255 255);
        font-size: 1.875rem;
        line-height: 2.25rem;
        padding: 0.75rem 1.5rem;
    }

    .bg-gradient-buttom p {
        padding-left: 1rem;
    }


    .container-footer {
        display: flex;
        bottom: 0;
        width: 100%;
        background-color: rgb(229 231 235);
        text-align: center;
        padding: 3.5rem 10rem;
        justify-content: space-between;
        box-shadow:5px -5px 5px 0px rgba(128, 128, 128, 0.7);
    }

    .container-footer h2{
        font-weight: 700;
    }
    .container-footer p{
        font-weight: 100;
    }

    .container-footer-SN {
        display: flex;
        bottom: 0;
        width: 100%;
        background-color: rgb(229 231 235);
        text-align: center;
        padding: 1rem 10rem;
        justify-content: center;
    }

    .container-socialNetworkGray {
        width: 100%;
        display: flex;
        gap: 0.75rem;
        padding-right: 0.5rem;
        color: rgb(255 255 255);
        justify-content: flex-end;
        align-items: center;
	}

	.container-socialNetworkGray img {
			height: 1.65rem;
	} */
  }
/* -----------------------------------contenedores imagenes XL------------------------------------------ */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    /* .container-mdTO2xl {
        display: block;
        width: 100%;
    }

	.container-body-mdOrUpper {
        display: block;
        display: flex;
        width: 100%;
	}

	.container-body-mdOrLower {
        display: none;
	}

    .container-hamburguerMenu {
        display: none;
    }

    .container-header {
        position: fixed;
        width: 100%;
        height: 6rem;
        box-shadow:5px 5px 5px 0px rgba(128, 128, 128, 0.7);
        align-items: center;
    }

    .container-socialNetwork {
        width: 100%;
        display: flex;
        gap: 0.75rem;
        padding-right: 0.5rem;
        color: rgb(255 255 255);
        justify-content: flex-end;
        align-items: center;
    }

    .container-socialNetwork img {
        height: 1.5rem;
    }

    .container-mainMenu {
        align-items: center;
        justify-content: center;
        padding-right: 16rem;
        display: flex;
        gap: 4rem;
        color: rgb(255 255 255);
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .container-main {
        padding-top: 7rem;
    }

	.container-verticalImage {
        margin: 10px 10px 10px 0;
        width: 30%;
	}

    .container-horizontal-Total {
        width: 40%;
    }

	.container-horizontalImage {
			margin: 10px 0 10px 0;
			height: 315px;
            width: 100%;
	}

	.container-phraseVertical1 {
        margin: auto;
        align-items: center;
        border-top-right-radius: 624rem;
        border-bottom-right-radius: 624rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin-top: -610px;
        width: 80%;
        padding: 10px;
        background-color: rgb(107, 114, 128, 0.5);
        color:rgb(255 255 255);
        text-align: center;
	}

	.container-phraseVertical2 {
        margin: auto;
        align-items: center;
        border-top-left-radius: 624rem;
        border-bottom-left-radius: 624rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin-top: -105px;
        width: 80%;
        padding: 10px;
        background-color: rgb(107,, 114,, 128,, 0.5);
        color:rgb(255 255 255);
        text-align: center;
	}

	.container-phraseHorizontal {
        margin: auto;
        align-items: center;
        border-radius: 624rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin-top: -190px;
        width: 80%;
        padding: 10px;
        background-color: rgb(107, 114, 128, 0.5);
        color:rgb(255 255 255);
        text-align: center;
	}

	.container-phraseLogo {
        margin-left: 0.5rem;
        padding-top: 0.5rem;
        width: 70%;
        align-items: center;
        color: rgb(255 255 255);
        font-size: 3rem;
        line-height: 1;
    }

	.container-slogan {
		height: 3.5rem;
		font-size: 1.875rem;
    line-height: 2.25rem;
		text-align: center;
		padding: 0 0 2rem 0;
	}

	.logo-image {
			height: 5rem;
			margin-left: 0.25rem;
            width: 30%;
	}

	.horizontal-image {
			width: 100%;
			height: 305px;
	}

	.vertical-image {
			width: 100%;
			height: 630px;
	}

	.bg-gradient-buttom {
		align-items: center;
		color: rgb(255 255 255);
		font-size: 1.875rem;
		line-height: 2.25rem;
		padding: 0.75rem 1.5rem;
	}

	.bg-gradient-buttom p {
		padding-left: 1rem;
	}

    /* .container-titleBoxes {
        margin-left: auto;
        margin-right: auto;
        height: 3.5;
        font-size: 3rem;
        line-height: 1;
        text-align: center;
        padding: 0 0 2rem 0;
    }

    .container-titleBoxes h2 {
        font-weight: 700;
        font-family: "Sansita";
        margin-bottom: 2rem;
    }

    .container-titleBoxes h3{
        font-size: 2.5rem;
        font-family: "Shadows Into Light";
        margin-bottom: 2rem;
    }

    .container-box p{
        font-size: 1.25rem;
    }

	.container-footer {
		display: flex;
		bottom: 0;
		width: 100%;
		background-color: rgb(229 231 235);
		text-align: center;
		padding: 3.5rem 6rem;
		justify-content: space-between;
		box-shadow:5px -5px 5px 0px rgba(128, 128, 128, 0.7);
	}

	.container-footer h2{
		font-weight: 700;
	}
	.container-footer p{
		font-weight: 100;
	}

	.container-footer-SN {
		display: flex;
		bottom: 0;
		width: 100%;
		background-color: rgb(229 231 235);
		text-align: center;
		padding: 1rem 10rem;
		justify-content: center;
	}

	.container-socialNetworkGray {
		width: 100%;
		display: flex;
		gap: 0.75rem;
		padding-right: 0.5rem;
		color: rgb(255 255 255);
		justify-content: flex-end;
		align-items: center;
}

.container-socialNetworkGray img {
		height: 1.5rem;
} */
}
/* -----------------------------------contenedores imagenes LG------------------------------------------ */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Aquí colocarías tus estilos para pantallas LG */
    /* .container-mdTO2xl {
        display: block;
        width: 100%;
    }

    .container-body-mdOrUpper {
        display: block;
        display: flex;
        width: 100%;
    }

    .container-body-mdOrLower  {
        display: none;
    }

    .container-hamburguerMenu {
        display: none;
    }

    .container-header {
        position: fixed;
        width: 100%;
        height: 5rem;
        box-shadow:5px 5px 5px 0px rgba(128, 128, 128, 0.5);
        align-items: center;
    }

    .container-socialNetwork {
        width: 100%;
        display: flex;
        gap: 0.75rem;
        padding-right: 0.5rem;
        color: rgb(255 255 255);
        justify-content: flex-end;
        align-items: center;
    }

    .container-socialNetwork img {
        height: 1.25rem;
    }

    .container-mainMenu {
        align-items: center;
        justify-content: center;
        padding-right: 14rem;
        display: flex;
        gap: 2.5rem;
        color: rgb(255 255 255);
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .container-main {
        padding-top: 6rem;
    }

    .container-verticalImage {
        margin: 10px 10px 10px 0;
        width: 30%;
    }

    .container-horizontal-Total {
        width: 40%;
    }

    .container-horizontalImage {
        margin: 10px 0 10px 0;
        height: 210px;
    }

    .container-phraseVertical1 {
        margin: auto;
        align-items: center;
        border-top-right-radius: 624rem;
        border-bottom-right-radius: 624rem;
        font-size: 1.5rem;
        line-height: 2.rem;
        margin-top: -420px;
        width: 80%;
        padding: 10px;
        background-color: rgb(107, 114, 128, 0.5);
        color: rgb(255 255 255);
        text-align: center;
    }

    .container-phraseVertical2 {
        margin: auto;
        display: inline-block;
        align-items: center;
        border-top-left-radius: 624rem;
        border-bottom-left-radius: 624rem;
        font-size: 1.5rem;
        line-height: 2.rem;
        margin-top: -100px;
        width: 80%;
        padding: 10px;
        background-color: rgb(107, 114, 128, 0.5);
        color: rgb(255 255 255);
        text-align: center;
    }

    .container-phraseHorizontal {
        margin: auto;
        align-items: center;
        border-radius: 624rem;
        font-size: 1.5rem;
        line-height: 2.rem;
        margin-top: -130px;
        width: 80%;
        padding: 5px;
        background-color: rgb(107, 114, 128, 0.5);
        color: rgb(255 255 255);
        text-align: center;
    }

    .container-phraseLogo {
        margin-left: 0.01rem;
        padding-top: 0.5rem;
        width: 70%;
        align-items: center;
        color: rgb(255 255 255);
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .container-slogan {
        height: 3.5rem;
        font-size: 2.5rem;
        line-height: 1;
        text-align: center;
        padding: 0 0 2rem 0;
    }

    .logo-image {
        height: 4rem;
        width: 30%;
        margin-left: 0.01rem;
    }

    .horizontal-image {
        width: 100%;
        height: 210px;
    }

    .vertical-image {
        width: 100%;
        height: 430px;
    }

    .bg-gradient-buttom {
		align-items: center;
		color: rgb(255 255 255);
		font-size: 1.5rem;
        line-height: 2.rem;
		padding: 0.75rem 1.5rem;
	}

	.bg-gradient-buttom p {
		padding-left: 1rem;
	}

    .container-titleBoxes h2 {
        font-size: 2.25rem;
    }

    .container-titleBoxes h3{
        font-size: 1.75rem;
    }

    .container-box p{
        font-size: 1rem;
    }

	.container-footer {
		display: flex;
		bottom: 0;
		width: 100%;
		background-color: rgb(229 231 235);
		text-align: center;
		padding: 2.5rem 5rem;
		justify-content: space-between;
		box-shadow:5px -5px 5px 0px rgba(128, 128, 128, 0.7);
	}

	.container-footer h2{
		font-weight: 700;
	}
	.container-footer p{
		font-weight: 100;
	}

	.container-footer-SN {
		display: flex;
		bottom: 0;
		width: 100%;
		background-color: rgb(229 231 235);
		text-align: center;
		padding: 1rem 10rem;
		justify-content: center;
	}

	.container-socialNetworkGray {
		width: 100%;
		display: flex;
		gap: 0.75rem;
		padding-right: 0.5rem;
		color: rgb(255 255 255);
		justify-content: flex-end;
		align-items: center;
}

.container-socialNetworkGray img {
		height: 1.25rem;
}*/
}

/* -----------------------------------contenedores imagenes MD------------------------------------------ */
  /* Estilos para pantallas medianas-pequeñas (MD) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /*
    .container-mdTO2xl {
        display: block;
        width: 100%;
    }

    .container-body-mdOrUpper {
        display: block;
        display: flex;
        width: 100%;
    }

    .container-body-mdOrLower  {
        display: none;
    }

    .container-hamburguerMenu {
        display: none;
    }

    .container-header {
        position: fixed;
        width: 100%;
        height: 3rem;
        box-shadow:5px 5px 5px 0px rgba(128, 128, 128, 0.5);
        align-items: center;
    }

    .container-socialNetwork {
        width: 100%;
        margin-top: -0.5rem;
        display: flex;
        gap: 0.25rem;
        padding-right: 0.5rem;
        color: rgb(255 255 255);
        justify-content: flex-end;
        align-items: center;
    }

    .container-socialNetwork img {
        height: 1rem;
    }

    .container-mainMenu {
        align-items: center;
        justify-content: center;
        padding-right: 7rem;
        display: flex;
        gap: 0.75rem;
        color: rgb(255 255 255);
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .container-main {
        padding-top: 3rem;
    }

    .container-verticalImage {
        margin: 10px 10px 10px 0;
        width: 30%;
    }

    .container-horizontal-Total {
        width: 40%;
    }

    .container-horizontalImage {
        margin: 10px 0 10px 0;
        height: 135px;
    }

    .container-phraseVertical1 {
        margin: auto;
        align-items: center;
        border-top-right-radius: 624rem;
        border-bottom-right-radius: 624rem;
        font-size: 0.8rem;
        line-height: 1.25rem;
        margin-top: -270px;
        width: 80%;
        padding: 5px;
        background-color: rgb(107, 114, 128, 0.5);
        color: rgb(255 255 255);
        text-align: center;
    }

    .container-phraseVertical2 {
        margin: auto;
        align-items: center;
        border-top-left-radius: 624rem;
        border-bottom-left-radius: 624rem;
        font-size: 0.8rem;
        line-height: 1.25rem;
        margin-top: -70px;
        width: 80%;
        padding: 10px;
        background-color: rgb(107, 114, 128, 0.5);
        color: rgb(255 255 255);
        text-align: center;
    }

    .container-phraseHorizontal {
        margin: auto;
        align-items: center;
        border-radius: 624rem;
        font-size: 0.8rem;
        line-height: 1.25rem;
        margin-top: -80px;
        width: 80%;
        padding: 5px;
        background-color: rgb(107, 114, 128, 0.5);
        color: rgb(255 255 255);
        text-align: center;
    }

    .container-phraseLogo {
        margin-left: 0.1rem;
        padding-top: 0.5rem;
        width: 70%;
        align-items: center;
        color: rgb(255 255 255);
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .container-slogan {
        height: 3.5rem;
        font-size: 1.25rem;
        line-height: 2.1rem;
				text-align: center;
				padding: 0 0 2rem 0;
    }

    .logo-image {
        height: 2rem;
        width: 30%;
        margin-left: 0.1rem;
    }

    .horizontal-image {
        width: 100%;
        height: 100%;
    }

    .vertical-image {
        width: 100%;
        height: 280px;
    }

	.bg-gradient-buttom {
		align-items: center;
		color: rgb(255 255 255);
		font-size: 0.8rem;
        line-height: 0.85rem;
		padding: 0.4rem 0.6rem;
	}

	.bg-gradient-buttom p {
		padding-left: 0.5rem;
        font-size: 0.85rem;
        line-height: 1.25rem;
	}

    .container-titleBoxes {
        font-size: 1.5rem;
    }

    .container-titleBoxes h3{
        font-size: 1rem;
    }

    .container-box p{
        font-size: 0.5rem;
    }

	.container-footer {
		display: flex;
		bottom: 0;
		width: 100%;
		background-color: rgb(229 231 235);
		text-align: center;
		padding: 1.5rem 2rem;
		justify-content: space-between;
		box-shadow:5px -5px 5px 0px rgba(128, 128, 128, 0.7);
		font-size: 0.65rem;
    line-height: 1.25rem;
	}

	.container-footer h2{
		font-weight: 700;
	}
	.container-footer p{
		font-weight: 100;
	}

	.container-footer-SN {
		display: flex;
		bottom: 0;
		width: 100%;
		background-color: rgb(229 231 235);
		text-align: center;
		padding: 1rem 10rem;
		justify-content: center;
	}

	.container-socialNetworkGray {
		width: 100%;
		margin-top: -0.5rem;
		display: flex;
		gap: 0.25rem;
		color: rgb(255 255 255);
		justify-content: flex-end;
		align-items: center;
}

.container-socialNetworkGray img {
		height: 1rem;
}*/
}

  /* -----------------------------------contenedores imagenes SM------------------------------------------ */
  @media only screen and (max-width: 480px) {
      /*
    .container-mdTO2xl {
        display: none;
    }

    .container-body-mdOrUpper {
        display: none;
    }

    .container-body-mdOrLower  {
        display: block;
    }

    .container-header {
        position: fixed;
        width: 100%;
        height: 2.8rem;
        box-shadow:5px 5px 5px 0px rgba(128, 128, 128, 0.5);
        align-items: center;
    }

    .container-socialNetwork {
        display: none;
    }

    .container-mainMenu {
       display: none;
    }

		.container-hamburguer {
			width: 100%;
			margin-top: -0.5rem;
			display: flex;
			gap: 0.25rem;
			padding-right: 0.5rem;
			color: rgb(255 255 255);
			justify-content: flex-end;
			align-items: center;
		}

    .container-main {
        padding-top: 3rem;
    }

    .container-verticalImage {
        margin: 0.5rem 0 0.5rem 0;
        width: 50%;
    }

    .container-horizontalImage {
        margin: 0 0 0.5rem 0;
        height: 210px;
        width: 100%;
    }

    .container-phraseVertical1 {
        margin: auto;
        align-items: center;
        border-top-right-radius: 624rem;
        border-bottom-right-radius: 624rem;
        font-size: 1rem;
        line-height: 1.25rem;
        margin-top: -320px;
        width: 80%;
        padding: 5px;
        background-color: rgb(107, 114, 128, 0.5);
        color: rgb(255 255 255);
        text-align: center;
    }

    .container-phraseVertical2 {
        margin: auto;
        align-items: center;
        border-top-left-radius: 624rem;
        border-bottom-left-radius: 624rem;
        font-size: 1rem;
        line-height: 1.25rem;
        margin-top: -100px;
        width: 80%;
        padding: 10px;
        background-color: rgb(107, 114, 128, 0.5);
        color: rgb(255 255 255);
        text-align: center;
    }

    .container-phraseHorizontal {
        margin: auto;
        align-items: center;
        border-radius: 624rem;
        font-size: 1rem;
        line-height: 1.25rem;
        margin-top: -110px;
        width: 80%;
        padding: 5px;
        background-color: rgb(107, 114, 128, 0.5);
        color: rgb(255 255 255);
        text-align: center;
    }

    .container-phraseLogo {
        margin-left: 0.10rem;
        padding-top: 0;
        width: 9rem;
        align-items: center;
        color: rgb(255 255 255);
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .container-slogan {
        height: 1.5rem;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        padding: 0 0 2rem 0;
    }

    .logo-image {
        height: 2rem;
        width: 2.5rem;
        margin-left: 0;
        margin-top: -0.5rem;
    }

    .horizontal-image {
        margin:auto;
        width: 100%;
        height: 100%;
    }

    .vertical-image {
        width: 100%;
        height: 330px;
    }

    .bg-gradient-buttom {
        border-width: 0.0625rem;
        border-radius: 624rem;
        color: rgb(255 255 255);
        font-size: 0.75rem;
        line-height: 1.75rem;
        padding: 0.10rem 1.25rem
    }

    .bg-gradient-buttom p {
        font-size: 0.75rem;
        line-height: 1.5rem;
        padding: 0.1rem 0 0.1rem 0.15rem
    }

    .container-titleBoxes {
        font-size: 1.25rem;
    }

    .container-titleBoxes h3{
        font-size: .9rem;
    }

    .container-box p{
        font-size: 0.5rem;
    }

    .container-footer {

        display: flex;
        bottom: 0;
        width: 100%;
        background-color: rgb(229 231 235);
        text-align: center;
        padding: 0.5rem 1rem;
        justify-content: space-between;
        box-shadow:5px -5px 5px 0px rgba(128, 128, 128, 0.7);
        font-size: 0.5rem;
    line-height: 1.25rem;
    }

    .container-footer h2{
        font-weight: 700;
    }
    .container-footer p{
        font-weight: 100;
    }

    .container-footer-SN {
        display: flex;
        bottom: 0;
        width: 100%;
        background-color: rgb(229 231 235);
        text-align: center;
        padding: 1rem 0;
        justify-content: center;
    }

    .container-socialNetworkGray {
        width: 100%;
        margin-top: -0.5rem;
        display: flex;
        gap: 0.25rem;
        color: rgb(255 255 255);
        justify-content: flex-end;
        align-items: center;
	}

	.container-socialNetworkGray img {
			height: 1rem;
	}*/
}

/*----------------------------------------------------------------*/

/*
.bg-gradient {
    background: linear-gradient(to right, #012959, #0249a1, #1e76a5, #0249a1, #012959 );
}

.bg-gradient-buttom {
	margin: auto;
	display: flex;
	border-width: 0.0625rem;
	border-radius: 624rem;
  background: linear-gradient(to right, #0249a1, #1e76a5, #0249a1 );
}

.menu-item {
    @apply py-5 px-4 hover:text-sky-100;
} */

