@charset "UTF-8";
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  min-height: 100vh;
}

div {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

h1 {
  font-size: 4.5rem;
  font-family: "Acme", sans-serif;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  h1 {
    font-size: 3.3rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 799px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 4.25rem;
  font-family: "Acme", sans-serif;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  h2 {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  h2 {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 799px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 4.15rem;
  font-family: "Acme", sans-serif;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  h3 {
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 799px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 3.15rem;
  font-family: "Acme", sans-serif;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  h4 {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 799px) {
  h4 {
    font-size: 1.45rem;
  }
}

h5 {
  font-size: 2rem;
  font-family: "Georgia", "sans-serif";
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  h5 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  h5 {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 799px) {
  h5 {
    font-size: 1.15rem;
  }
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 2rem;
  font-family: "Acme", "Courier New", Courier, monospace;
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  p {
    font-size: 1.35rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  p {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 799px) {
  p {
    font-size: 1.15rem;
  }
}

ul {
  list-style: none;
}

li {
  list-style: none;
  font-family: "Delicious Handrawn", "Times New Roman", "Times", "serif";
  color: #fff;
  font-size: 1.3rem;
  padding: 0 2.5vw;
}

a {
  text-decoration: none;
  color: white;
}

img {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
}

.background-text {
  background: linear-gradient(to right, #000000, #303338, #a51e1e, #e15f5f, #a51e1e, #303338, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

header {
  position: fixed;
  background: linear-gradient(to right, #000000, #303338, #a51e1e, #e15f5f, #a51e1e, #303338, #000000);
  box-shadow: 0 2px 2px 1px rgba(9, 3, 68, 0.7);
  width: 100%;
  height: 5rem;
  grid-row: 1;
}

.container-header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
}

.container-logoEdit {
  display: flex;
  grid-column: 1;
  grid-row: 1/span 2;
  align-items: center;
  padding: 0 0.5em;
}
@media only screen and (max-width: 1000px) {
  .container-logoEdit {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-mainMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
  margin-top: -2em;
}
@media only screen and (max-width: 1000px) {
  .container-mainMenu {
    display: flex;
    grid-column: 3;
    grid-row: 2/span 2;
    margin-left: auto;
    padding: 0 0.5em;
  }
}

.mainMenu {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .mainMenu {
    display: none;
  }
}

.container-socialNetwork {
  grid-column: 3;
  grid-row: 1;
}

.hamburguerMenu {
  display: none;
}
@media screen and (max-width: 1000px) {
  .hamburguerMenu {
    display: block;
  }
}

.container-socialNetwork_color {
  display: flex;
  column-gap: 0.7em;
  justify-content: flex-end;
  margin: 1em 0.5vw 0 0;
  padding: 0 0.5em;
}
@media screen and (max-width: 1000px) {
  .container-socialNetwork_color {
    display: none;
  }
}

.socialNetworkIcons {
  height: 1.5rem;
  width: 1.5rem;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  font-size: 2.3rem;
  font-family: "Bruno Ace", "cursive";
}

.icons {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
  width: 1.65rem;
  height: 1.65rem;
  font-size: 1.4rem;
  color: #71767d;
  border: 2em solid #b9bec5;
  border-width: 0.1em;
  border-radius: 7em;
  align-items: center;
  justify-content: center;
}
.icons:hover {
  color: black;
}

.container-logo img {
  height: 3.5rem;
  width: 3.5rem;
}

.selector {
  cursor: pointer;
}

.container-hamburguer {
  color: white;
  padding: 0 1rem 0.2rem 1.5rem;
}

.hambur {
  border-width: 1px;
  border-radius: 9999px;
}
.hambur:hover {
  border: 3em solid #b9bec5;
  border-width: 2px;
  border-radius: 9999px;
  padding: 0.2em 0.5em 0.3em 0.5em;
}
.hambur:active {
  border: 2em solid #b9bec5;
  border-width: 2px;
  border-radius: 9999px;
  padding: 0.2em 0.5em 0.3em 0.5em;
}

.container-subMenu, .container-subMenuH {
  position: absolute;
  left: 42%;
  margin-top: 1.5rem;
  width: 20rem;
  right: 0.125rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  visibility: visible;
}
.container-subMenu ul, .container-subMenuH ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: rgb(243, 244, 246);
  color: red;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}
.container-subMenu div, .container-subMenuH div {
  margin: 0 0;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 2px solid rgba(102, 107, 118, 0.25);
  padding: 1rem 0 1.5rem 0;
}
.container-subMenu div:hover, .container-subMenuH div:hover {
  background-color: #b9bec5;
}
.container-subMenu .a_item_menu, .container-subMenuH .a_item_menu {
  text-align: center;
  color: rgb(102, 107, 118);
  font-family: "Acme";
}
.container-subMenu .a_item_menu:hover, .container-subMenuH .a_item_menu:hover {
  font-weight: 600;
  font-size: 1.75rem;
}
.container-subMenu .a_item_menu:focus, .container-subMenuH .a_item_menu:focus {
  font-weight: 600;
}
.container-subMenu .a_item_menu:active, .container-subMenuH .a_item_menu:active {
  font-weight: 600;
}
.container-subMenu div:last-child, .container-subMenuH div:last-child {
  border-bottom: none;
}

.container-subMenuH {
  left: 0;
}

.container-subMenuHamburguer {
  position: absolute;
  margin-top: 2rem;
  width: 50%;
  right: 0.125rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  visibility: visible;
}
.container-subMenuHamburguer ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}
.container-subMenuHamburguer div {
  margin: 0.25rem 0;
  border-bottom: 2px solid rgba(102, 107, 118, 0.25);
  text-align: center;
}
.container-subMenuHamburguer li {
  padding: 1rem 0 1.5rem 0;
  color: rgb(102, 107, 118);
}
.container-subMenuHamburguer li:hover {
  background-color: #b9bec5;
  font-size: 1.75rem;
}
.container-subMenuHamburguer .a_item_menu {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(102, 107, 118);
  font-family: "Delicious Handrawn";
}
.container-subMenuHamburguer .a_item_menu:hover {
  font-weight: 600;
  font-size: 1.75rem;
}
.container-subMenuHamburguer .a_item_menu:focus {
  font-weight: 600;
}
.container-subMenuHamburguer .a_item_menu:active {
  font-weight: 600;
}
.container-subMenuHamburguer div:last-child {
  border-bottom: none;
}

.container-subMenuHidden {
  display: none;
}

.container-button {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.button {
  align-items: center;
  background: linear-gradient(to right, #0249a1, #1e76a5, #0249a1);
  background-size: cover;
  font-family: "Delicious Handrawn";
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  padding: 0.5em 1em;
  border-radius: 624rem;
}
@media only screen and (min-width: 430px) and (max-width: 599px) {
  .button {
    font-size: 0.95rem;
  }
}
@media only screen and (max-width: 429px) {
  .button {
    font-size: 0.95rem;
  }
}

main {
  margin-top: 6rem;
  grid-row: 2;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-title div, .container-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-inButton {
  padding-left: 0.15rem;
  font-size: 1.15rem;
}
@media only screen and (max-width: 599px) {
  .icon-inButton {
    font-size: 0.95rem;
  }
}

.container-imageHorizontal {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 501px) and (max-width: 1524px) {
  .container-imageHorizontal {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
@media screen and (min-width: 280px) and (max-width: 500px) {
  .container-imageHorizontal {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

.container-eachHorizontal {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.infoImage {
  display: flex;
  flex-direction: column;
}
.infoImage h4 {
  margin-top: -15rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 624rem;
  width: 80%;
  padding: 10px;
  background-color: rgba(107, 114, 128, 0.6);
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-align: center;
  font-family: "Acme", sans-serif;
}
@media screen and (min-width: 280px) and (max-width: 500px) {
  .infoImage h4 {
    margin-top: -12rem;
    width: 100%;
    font-size: 2rem;
  }
}
.infoImage button {
  display: flex;
  text-align: center;
  justify-content: center;
}

.container-Box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.container-infoBoxTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.container-Box1 {
  flex: 1 1 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 1rem;
  padding-bottom: 0.75em;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 0.7);
}

.container-Box2 {
  flex: 1 1 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 1rem;
  padding-bottom: 0.75em;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 0.7);
}

.container-Box3 {
  flex: 1 1 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 1rem;
  padding-bottom: 0.75em;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 0.7);
}

.container-Box1 img {
  width: 50%;
  height: 50%;
}

.container-Box2 img {
  width: 50%;
  height: 50%;
}

.container-Box3 img {
  width: 50%;
  height: 50%;
}

footer {
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: rgb(229, 231, 235);
  text-align: center;
  padding: 3.5rem 2vw;
  justify-content: space-between;
  box-shadow: 5px -5px 5px 0px rgba(128, 128, 128, 0.7);
  grid-row: 3;
  margin-top: 3rem;
}

.container-footerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.iconFooter {
  font-size: 35px;
}

.footer-info {
  display: flex;
  flex: 1 1 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.footer-info div {
  justify-content: center;
}

.container-socialNetwork_gray {
  display: flex;
  column-gap: 0.7em;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilo para campos de entrada de formulario */
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo para select de formulario */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo para botón de envío del formulario */
input[type=submit] {
  margin-top: 0.5rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: #0056b3;
}

input[type=submit]:active {
  background-color: #00345e;
}

.confirmation {
  margin-right: auto;
  margin-left: auto;
  color: rgb(5, 131, 12);
  display: inline-block;
  padding: 10px 20px;
  background-color: #a0f8bc;
}

.container-window {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-windowForm, .container-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
  width: 50%;
  justify-content: space-between;
  color: #007bff;
  font-family: "Acme", sans-serif;
}
@media screen and (min-width: 600px) and (max-width: 850px) {
  .container-windowForm, .container-form {
    width: 75%;
  }
}
@media only screen and (max-width: 599px) {
  .container-windowForm, .container-form {
    width: 100%;
  }
}

.container-form {
  padding: 1rem;
  margin: 2.5rem 0;
}

.container-windowTop {
  display: flex;
  background-color: rgb(60, 59, 59);
  border-radius: 1rem 1rem 0 0;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}

.inputProduct-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #0056b3;
}

.formulary {
  padding: 0.75rem;
}

.formulary-body {
  display: flex;
  flex-direction: column;
}

.formulary-body {
  display: flex;
  flex-direction: column;
}

/* Estilo para etiquetas de formulario */
input[type=file]::file-selector-button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 9999px;
  border-width: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  background-color: rgb(245, 243, 255);
  color: rgb(109, 40, 217);
  font-family: "Acme", sans-serif;
}
input[type=file]::file-selector-button:hover {
  background-color: rgb(237, 233, 254);
}
input[type=file]::file-selector-button:active {
  top: 2px;
}

.container-titleDisplayProducts {
  display: flex;
  justify-content: center;
  color: #1e76a5;
  margin-bottom: 1.5rem;
}

.containers-product {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin-bottom: 5rem;
}

.article-product {
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 0.7);
  padding: 1.25;
}

.container-imageProduct {
  margin: 1.25rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 95%;
}
.container-imageProduct img {
  vertical-align: middle;
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.container-infoProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto 1.5rem auto;
}
.container-infoProduct h2 {
  color: #0249a1;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-bottom: 0.5rem;
  margin: 0 auto 0.5rem auto;
}
.container-infoProduct h3 {
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #0249a1;
  margin: 0 auto 0 auto;
}
.container-infoProduct p {
  color: rgb(107, 114, 128);
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 auto 0 auto;
  text-align: center;
}

.article-product {
  transition: all 0.3s ease-in-out; /* Define una transición suave para todas las propiedades CSS */
}

.article-product:hover {
  transform: scale(1.01); /* Aumenta el tamaño de la etiqueta article en un 10% */
}

.article-product:hover img {
  transform: scale(1.02); /* Aumenta el tamaño de la imagen en un 20% */
}

.article-product:hover h2 {
  font-size: 2.2rem; /* Aumenta el tamaño de la fuente del título en 0.2rem */
}

.article-product:hover h3 {
  font-size: 1.8rem; /* Aumenta el tamaño de la fuente del precio en 0.2rem */
}

.article-product:hover p {
  font-size: 1.2rem; /* Aumenta el tamaño de la fuente de la descripción en 0.2rem */
}

.container-titleProduct {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
}
.container-titleProduct h1 {
  color: #1e76a5;
  margin-bottom: 1.5rem;
}
.container-titleProduct .button {
  margin-bottom: 1.5rem;
}

.container-searchProduct {
  display: flex;
}
.container-searchProduct span {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.container-searchProduct input {
  margin-right: 1rem;
}

.container-table {
  overflow-x: scroll;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: left;
  margin-bottom: 4rem;
}
.container-table thead {
  text-transform: uppercase;
  background-color: rgb(3, 105, 161);
  color: white;
}
.container-table th, .container-table td {
  padding: 0.75rem 0.5rem;
}
.container-table a {
  color: black;
  margin-left: auto;
  margin-right: auto;
}
.container-table .erase {
  text-align: center;
}
.container-table a:hover {
  cursor: pointer;
  font-weight: 700;
}
.container-table .erase:hover {
  font-size: 1.125rem;
  line-height: 1.75rem;
  background-color: rgb(254, 202, 202);
}
.container-table tr:nth-child(even) {
  background-color: rgb(243, 244, 246);
}

.container-aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 3rem 3rem 3rem;
  width: 100%;
}

.body-aboutUs {
  display: flex;
  row-gap: 3rem;
  column-gap: 3rem;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
.body-aboutUs div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-aboutUs div h2 {
  margin-bottom: 3rem;
}
.body-aboutUs img {
  width: 100%;
  grid-column: 2;
  grid-row: 1/span 2;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.container-login {
  min-height: 100vh;
  background-color: rgb(229, 231, 235);
  padding: 5rem 0;
}

.container-logindiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  color: rgb(31, 41, 55);
}

.container-logindiv4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100%;
}
.container-logindiv4 h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  padding-bottom: 0.25rem;
}
.container-logindiv4 img {
  margin: 0 auto;
  width: 12rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.container-login2 {
  background: linear-gradient(to right, #000000, #303338, #a51e1e, #e15f5f, #a51e1e, #303338, #000000);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 100%;
}
.container-login2 div {
  color: rgb(255, 255, 255);
  padding: 0 0.5rem;
  margin: 4rem 1.5rem;
}
.container-login2 span {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.container-login2 h4 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

/*# sourceMappingURL=styles.css.map */
